<!DOCTYPE HTML>
<head>EJS tempate</head>
<body>
    <h1>Hello, <%= data.name %>!</h1>
    <p>Your are <%= data.age %> years old</p>
    <p>your occupation is <%= data.occupation %></p>

</body>
</html>